body {
    background-image: url(assets/photo_2023-06-25_21-41-37.jpg);
    height: auto; 
    background-size: cover;
    margin: 0;
}
.main_block {
    border-radius: 20px;
    margin: 20px 5%;
    display: flex;
    height: 95vh;
    flex-direction: column;
    background-color: #8b757598;
}
.sec_block {
    /* display: flex; */
    /* justify-content: center; */
    width: 95%;
    height: 30%;
    background-color: #ffffff6b;
    border-radius: 15px;
    margin: 20px;
}
h1{
    font-size: 20px;
    padding-left: 30px;
}
.image {
    /* background-image: url(assets/123.jpg); */
    width: 100%;
    height: 70%;
    justify-content: center;
    display: flex;
        /* align-items: center; */
}

p{
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#elephant{
    margin-top: 30px;
    /* width: 100%; */
    height: 90%;
}

  /* Медиазапрос для iPhone 13 (ширина экрана 390px) */
  @media (max-width: 430px) {
    body {
        margin-top: 55px;
        background-size: cover;
        background-position: center;
        background-image: url(assets/photo_2023-06-25_21-41-37.jpg);
        font-size: 14px;
        padding: 10px;
        font-size: 14px; /* Уменьшаем размер шрифта */
        padding: 10px; /* Регулируем отступы */
    }
    .sec_block{
        margin: 4%;
        width: 93%;
        height: 31%;
    }
    #elephant{
        padding-top: 66px;
        height: 65%;
    }
    h1{
        font-size: large;
        padding-left: 10;
    }
    p{
        padding-left: 15px;
        font-size: auto;
        font-family: 'Times New Roman', Times, serif;
    }
    .container {
      width: 100%; /* Контейнер будет занимать всю ширину экрана */
    }
    .main_block{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        height: 83vh;
    }
    img {
        margin-top:25%;
      max-width: 90%; /* Изображения не будут выходить за границы экрана */
      height: auto;
    }
  
    /* Пример изменения макета для маленького экрана */
    .sidebar {
      display: none; /* Прячем сайдбар на мобильных устройствах */
    }
}
