body {
    background-image: url(assets/photo_2023-06-25_21-41-37.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-size: 1rem; /* Базовый размер шрифта */
}

.main_block {
    border-radius: 20px;
    margin: 20px 5%;
    display: flex;
    height: 95vh;
    flex-direction: column;
    background-color: #8b757598;
}

.sec_block {
    width: 95%;
    background-color: #ffffff6b;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    height: auto; /* Устанавливаем автоматическую высоту для содержания текста */
}

h1 {
    font-size: 1.5rem; /* Относительный размер заголовка */
    padding-left: 30px;
}

p {
    padding-left: 20px;
    font-size: 1rem; /* Относительный размер шрифта */
    font-family: 'Times New Roman', Times, serif;
}

#elephant {
    margin-top: 30px;
    height: 70%; /* Уменьшаем высоту изображения */
}

/* Медиазапрос для iPhone 14 Pro и мобильных устройств (ширина до 430px) */
@media (max-width: 430px) {
    body {
        margin-top: 55px;
        font-size: 0.9rem; /* Уменьшаем базовый размер шрифта */
        padding: 0 10px;
    }

    .main_block {
        margin: 0 5%;
        height: auto; /* Автоматическая высота для мобильных */
    }

    .sec_block {
        margin: 10px 0;
        width: 100%;
        height: auto; /* Высота автоматически подстраивается под контент */
        padding: 15px;
    }

    h1 {
        font-size: 5vw; /* Размер шрифта в зависимости от ширины экрана */
        padding-left: 5%;
    }

    p {
        padding-left: 5%;
        font-size: 4vw; /* Используем vw для адаптации текста под ширину экрана */
    }

    img {
        max-width: 100%; /* Адаптация изображений */
        height: auto;
    }

    .image {
        height: 50%; /* Уменьшаем высоту изображения до 50% */
    }
}
